.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  color: $secondary-color;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  @extend %flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  border-radius: 4px;

  border: 1px solid $icon-color;

  transition: border-color $transition-timing;
}

.clients__link:hover > .clients__icon,
.clients__link:focus > .clients__icon {
  fill: $accent-color;
}

.clients__link:hover,
.clients__link:focus {
  border-color: $accent-color;
}

.clients__icon {
  width: 106px;
  height: 60px;

  fill: $icon-color;
  transition: fill $transition-timing;
}
