/* Footer */

.footer {
  padding: 60px 0;
  max-width: 1600px;
  margin: 0 auto;

  background-color: $background-footer;
}

.footer__container {
  display: flex;
  align-items: baseline;
  @extend .container;
}

.address__link,
.logo__footer {
  color: $main-color;

  text-decoration: none;
}

.logo--flex {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.address__contact {
  color: $text-decor-color;

  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__link:hover,
.address__link:focus {
  color: $accent-color;
}

.address__item {
  display: block;
  width: 231px;

  font-style: normal;
  @include font($main-font-weigh, $main-font-size, 1.5);

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__list {
  transition: color $transition-timing;
}

.footer-networks {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}

.footer-networks__title {
  margin-bottom: 20px;

  color: $main-color;

  line-height: 1.14;
  text-transform: uppercase;
}

.networks__footer {
  border-radius: 30px;

  background-color: $icon-background-footer;
  fill: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-footer {
  display: flex;
  flex-direction: column;
  width: 570px;
}

.form-footer__title {
  @extend .footer-networks__title;
}

.form-footer__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  outline: none;

  background-color: $background-footer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    color: $text-decor-color;

    @include font($main-font-weigh, 16px, 1.25);
    letter-spacing: 0.03em;
  }

  &:focus-within {
    background-color: $main-color;
  }
}

.form-footer__email {
  display: flex;
  justify-content: space-between;
}

.button-footer {
  @extend %flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  border: none;

  color: $main-color;
  background: $accent-color;
  box-shadow: $box-shadow-button;

  font-style: normal;
  @include font(700, 16px, 1.88);
  letter-spacing: 0.06em;

  transition: border-color $transition-timing, background $transition-timing;

  &:hover,
  &:focus {
    background: $icon-background-active;
    border-color: $icon-background-active;
  }
}

.button-footer__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
