/* Header logo */
.header {
  max-width: 1600px;
  margin: 0 auto;

  border-bottom: 1px solid $border-color;
}

.header__container {
  @extend %flex;
}

.header__logo {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

/* Header Navigation */

.header-navigation {
   @extend %flex;
}

.header-navigation__link {
   @extend %flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondary-color;

  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color $transition-timing;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-navigation__link--current {
  position: relative;

  color: $accent-color;
}

.header-navigation__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;

  background-color: $accent-color;
}

.header-navigation__item:not(:last-child) {
  margin-right: 50px;
}

/* Header Contacts */

.header-contacts {
  @extend .header-navigation;
  margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  margin-right: 30px;
}

.header-contacts__link {
  @extend .header-navigation__link;
  color: $main-color-text;
  transition: color $transition-timing;
}

.header-contacts__envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: currentColor;
}

.header-contacts__smartphone {
  @extend .header-contacts__envelope;
  width: 10px;
  height: 16px;
}
