// ---------Mobile-------------
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: $background-hero;
  background-image: linear-gradient($background-image),
    url(../image/hero@1x.jpg);

  @include retina {
    background-image: linear-gradient($background-image),
      url(../image/hero@2x.jpg);
  }
}

.hero__container {
  padding: 118px 60px;
}

.hero__title {
  margin-bottom: 30px;

  color: $main-color;

  @include font(900, 26px, 1.61);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

// ---------------Tablet------------

@include tablet {
  .hero {
    background-image: linear-gradient($background-image),
      url(../image/herotablet@1x.jpg);

    @include retina {
      background-image: linear-gradient($background-image),
        url(../image/herotablet@2x.jpg);
    }
  }

  .hero__container {
    padding: 118px 204px;
  }
}

// -------------Desktop-------

@include desktop {
  .hero {
    background-image: linear-gradient($background-image),
      url(../image/herodesktop@1x.jpg);

    @include retina {
      background-image: linear-gradient($background-image),
        url(../image/herodesktop@2x.jpg);
    }
  }
  .hero__container {
    padding: 200px 0;
  }

  .hero__title {
    width: 696px;
    margin-right: auto;
    margin-left: auto;

    @include font(900, 44px, 1.36);
  }
}
