.logo {
  width: 145px;
  display: block;

  color: $accent-color;

  text-decoration: none;
  font-family: Raleway, sans-serif;
  @include font (700,26px,1.2);
  }

.logo__end {
  color: $icon-secondary-color;
}
