/* Modal */

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: $background-color-modal;
  opacity: 1;
  transition: opacity $transition-timing, visibility $transition-timing;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform $transition-timing;
}

.modal {
  padding: 40px;
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  border-radius: 4px;

  background-color: $main-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform $transition-timing;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__close {
  position: absolute;
  @extend %flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  cursor: pointer;

  background-color: $main-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__icon {
  width: 18px;
  height: 18px;

  fill: $icon-secondary-color;

  transition: fill $transition-timing;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.modal-form__title {
  margin-bottom: 12px;

  color: $secondary-color;

  @include font(700, 20px, 1.15);
  text-align: center;
}

.modal-form__inputs {
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: $secondary-color;

  transition: fill $transition-timing;
}

.modal-form__wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 4px;
}

.modal-form__wrap:hover > .modal-form__input {
  border-color: $accent-color;
  cursor: pointer;
}

.modal-form__wrap:hover > .modal-form__icon {
  fill: $accent-color;
  cursor: pointer;
}

.modal-form__wrap:focus-within > .modal-form__input {
  border-color: $accent-color;
}

.modal-form__wrap:focus-within > .modal-form__icon {
  fill: $accent-color;
}

.modal-form__input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 42px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color $transition-timing;
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);

  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  &::placeholder {
    color: $placeholder-color;
  }
}

.modal-form__item:not(:last-child) {
  margin-bottom: 10px;
}

.checkbox {
  @extend %flex;
  justify-content: center;
}

.checkbox__label {
  @extend %flex;
  justify-content: space-around;
  width: 423px;
  margin-bottom: 30px;
}

.checkbox__text {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-size: contain;

  border: 1px solid $secondary-color;
}

.checkbox__link {
  color: $accent-color;
}

input:checked + .checkbox__text {
  background-color: $accent-color;
  border-color: $accent-color;
  background-image: url(../image/icon-check.svg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-button {
  @extend .button-footer;
  margin: 0 auto;
}
