.team {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $background-sections;
}

.team__title {
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  color: $secondary-color;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__list {
  display: flex;
}

.team__item {
  width: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;

  background-color: $main-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__card {
  padding: 30px 0;
}

.team__name {
  margin-bottom: 10px;

  color: $secondary-color;

  @include font(500, 16px, 1.19);
  letter-spacing: 0.03em;
  text-align: center;
}
.team__job {
  display: block;
  margin-bottom: 16px;

  color: $main-color-text;

  @include font($main-font-weigh, 16px, 1.19);
  text-align: center;
  letter-spacing: 0.03em;
}

.networks {
  @extend %flex;
  padding: 0;
  justify-content: center;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  @extend %flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  border-radius: 30px;

  fill: $icon-color;

  transition: background-color $transition-timing, fill $transition-timing;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $main-color;
  }
}

.networks__icon {
  width: 20px;
  height: 20px;
}
