.work {
  padding-bottom: 94px;
}

.work__list {
  display: flex;
}

.work__item {
  width: calc((100% - 60px) / 3);

&:not(:last-child) {
  margin-right: 30px;
}
}

.work__title {
  width: 366px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;

  color: $secondary-color;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work__label {
  position: relative;
}

.work__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
    
  @extend %flex;
  justify-content: center;

  color: $main-color;
  background-color: $background-color-label;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

