
body {
  color: $main-color-text;
  background: $main-color;
  font-family: Roboto, sans-serif;
  font-weight: $main-font-weigh;
  font-size: $main-font-size;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  padding-left: 0;
}
img {
  display: block;
}

