.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@include mobile {
  .container {
    width: 480px;
  }
}

@include tablet {
  .container {
    width: 768px;
  }
}

@include desktop {
  .container {
    width: 1200px;
  }
}

// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }
