.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@include mobile {
  .container {
   width: 480px;
   background-color: brown;
  }
}

@include tablet {
  .container {
    width: 768px;
    background-color: aqua;
  }
}

@include desktop {
  .container {
    width: 1200px;
    background-color: greenyellow;
  }
}





// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }
