
  $main-color-text: #757575;
  $main-color: #ffffff;
  $secondary-color: #212121;
  $text-decor-color: rgba(255, 255, 255, 0.6);
  $accent-color: #2196f3;

  $background-footer: #2f303a;
  $background-hero: #c4c4c4;
  $background-sections: #f5f4fa;
  $background-color-overlay-project: rgba(33, 150, 243, 0.9);
  $background-color-label: rgba(47, 48, 58, 0.8);
  $background-color-modal: rgba(0, 0, 0, 0.2);
  $background-image: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);

  $border-color: #ececec;
  $border-color-card: #eeeeee;
  
  $icon-color: #afb1b8;
  $icon-secondary-color: #000000;
  $icon-background-active: #188ce8;
  $icon-background-footer: rgba(255, 255, 255, 0.1);

  $box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);

  $transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  $main-font-size: 14px;
  $main-font-weigh: 400;

  $placeholder-color: rgba(117, 117, 117, 0.5);
